<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Mylib</title>
    <link type="text/css" rel="stylesheet" href="static/foundation.css">
</head>
<body>
    <div class="row">
        <div class="icon-bar three-up">
            <a class="item" href="/index">
                <label>Home</label>
            </a>
            <a class="item" href="/login">
                <label>Login</label>
            </a>
            <a class="item" href="/lib">
                <label>Library</label>
            </a>
        </div>
    </div>
    <div class="row">
            <div class="large-12 columns">
                <div class="callout panel">
                    <div class="row">
                        {% block content %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>

</body>
</html>