{% extends 'base.html' %}
        {% block content %}
        <div class="large-4 medium-4 columns">
            <div class="panel">
                <h2>Deleting</h2>
                 <form method="POST" name="del">
                    {{ form.hidden_tag() }}
                    <p>{{ form.name.label }} {{ form.name}}</p>
                    <p>{{ form.author.label }} {{ form.author }}</p>
                    {{ form.delete }}
                </form>
            </div>
        </div>
        {% endblock %}