{% extends 'base.html' %}

{% block content %}
        <div class="large-5 medium-5 columns">
            <div class="panel">
                <h2>Enter book name and author</h2>
                <form method="POST" name="add">
                    {{ form.hidden_tag() }}
                    <p>{{ form.name.label }} {{ form.name}}</p>
                    <p>{{ form.author.label }} {{ form.author }}</p>
                    {{ form.add }}
                </form>
            </div>
        </div>
{% endblock %}


