{% extends "base.html" %}

{% block content %}
        {% for mess in get_flashed_messages() %}
        <p>{{ mess }}</p>
        {% endfor %}
        {% if current_user.is_authenticated() %}
            <p><code>You are logged in as:<strong>{{ current_user.username }}</strong></code></p>
        {% endif %}
        <div class="large-6 medium-6 columns">
            <div class="panel">
                <h2>Welcome to  library</h2>
                <ul>
                    <li>Hola</li>
                    <li>You can go <code>library</code> to find favo book</code>
                    <li>If you want <code>add</code> or <code>delete</code> some books u should <code>login</code></li>
                    <li>Try <code>username:</code>'moder' and <code>password:</code>'simple'</li>
                </ul>
            </div>
        </div>

{% endblock %}