{% extends 'base.html' %}
    {% block content %}
        {% for mess in get_flashed_messages() %}
        <div class="row">
            <div class="large-12 columns">
            <p><code>{{ mess }}</code></p>
            </div>
        </div>
        {% endfor %}
        {% if current_user.is_authenticated() %}
        <div class="row">
            <div class="large-12 columns">
            <p><code>You are logged in as:<strong>{{ current_user.username }}</strong></code></p>
                    </div>
        </div>
        {% endif %}
        <div class="large-4 medium-4 columns">
            <div class="panel">
                <h2>Library</h2>
                <table>
                    <tr>
                        <th>Author</th>
                        <th>Book</th>
                        <th>ID</th>
                    </tr>

                    {% for auts in books %}
                    <tr>
                        <td>{{ auts.authors[0].name }}</td>
                        <td>{{ auts.name }}</td>
                        <td>{{ auts.id }}</td>
                    </tr>
                    {% endfor %}

                </table>
            </div>
        </div>
        <div class="large-4 medium-4 columns">
            <div class="panel">
                <h2>Search</h2>
                <form method="POST" name="search">
                    {{ form.hidden_tag() }}
                    <p>{{ form.bookname.label }} {{ form.bookname}}</p>
                    <p>{{ form.search }}</p>
                </form>
            </div>
        </div>
        <div class="large-4 medium-4 columns">
            <div class="row">
                <p><a href="/hide" class="medium secondary button">Add book</a></p>
                <a href="/del" class="medium secondary button">Delete</a>
            </div>
        </div>
    {% endblock %}