{% extends 'base.html' %}

{% block content %}
        {% if current_user.is_authenticated() %}
            <p><code>You are logged in as:<strong>{{ current_user.username }}</strong></code></p>
        {% endif %}
    <div class="large-5 medium-5 columns">
        <div class="panel">
            {% for mess in get_flashed_messages() %}
            <p>{{ mess }}</p>
            {% endfor %}
            <h2>Login</h2>
            <form method="POST" name="login">
                {{ form.hidden_tag() }}
                <p>{{ form.username.label }}{{ form.username(size=40) }}</p>
                <p>{{ form.password.label }} {{ form.password(size=30) }}</p>
                <p>{{ form.remember_me.label }} {{ form.remember_me }}</p>
                <p>{{ form.submit }} <a href="{{ url_for('logout') }}">Logout</a></p>
            </form>
        </div>
    </div>
{% endblock %}